router ospf {{ ospf_process }}
 router_id {{ ospf_router_id }}
 auto-cost reference-bandwidth 1000
 {% for network in networks %}
 network {{network['net']}} {{network['mask']}} area {{ ospf_area }}
 {% endfor %}

{% for int in interface %}
interface {{int['ospf_int']}}
 ip ospf {{ ospf_process }} area {{ ospf_area }}
!
{% endfor %}

