router ospf {{ospf_process}}
{% for network in networks %}
network {{network.net}} area {{ospf_area}}
{% endfor %}

{% for int in interface %}
interface {{int['ospf_int']}}
ip ospf {{ospf_process}} area {{ospf_area}}
!
{% endfor %}